In [63]:
#замена вопросов на нан
#df3=df3.replace("?", "NaN")
#df3
#2 cпособ
#df3.applymap(lambda x: np.nan if x == '?' else x)

# Домашнее задание к лекции "Базовые понятия статистики"

In [190]:
#1
import pandas as pd
import numpy as np

In [191]:
df3 = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', 
                 usecols=[0,1,3,4,5,6,10,22],names=['surgery?',  'Age', 'rectal temperature','pulse', 'respiratory rate',
                    'temperature of extremities', 'pain','outcome'],na_values='?',
                 header=None)

# какие типы признаков в нашем датафрейме?
df3.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [192]:
#2
Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

SyntaxError: invalid syntax (Temp/ipykernel_13836/3348447559.py, line 2)

In [193]:
df3.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [194]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [195]:
#df3.columns[1]

In [196]:
for i in  df3.columns:
    print ('-------------------------',i,'----------------------------------------')
    print('Уникальные значения', df3[i].unique())
    print('mean',df3[i].mean())
    print('median',df3[i].median())
    print('mode',df3[i].mode()[0])
    print('std',df3[i].std())
    print('var',df3[i].var())

------------------------- surgery? ----------------------------------------
Уникальные значения [ 2.  1. nan]
mean 1.3979933110367893
median 1.0
mode 1.0
std 0.49030464432881815
var 0.24039864425040888
------------------------- Age ----------------------------------------
Уникальные значения [1 9]
mean 1.64
median 1.0
mode 1
std 2.1739719055576163
var 4.726153846153814
------------------------- rectal temperature ----------------------------------------
Уникальные значения [38.5 39.2 38.3 39.1 37.3  nan 37.9 38.1 37.2 38.  38.2 37.6 37.5 39.4
 39.9 38.4 38.6 37.8 37.7 39.  35.4 38.9 37.4 40.3 37.  39.7 38.7 36.4
 38.8 39.6 36.8 39.5 36.5 36.  37.1 39.3 36.1 36.6 40.8 36.9 40. ]
mean 38.16791666666669
median 38.2
mode 38.0
std 0.7322886641121578
var 0.5362466875871686
------------------------- pulse ----------------------------------------
Уникальные значения [ 66.  88.  40. 164. 104.  nan  48.  60.  80.  90.  72.  42.  92.  76.
  96. 128.  64. 110. 130. 108. 100. 112.  52. 146. 150. 120. 140.  84.
  46. 114. 160.  54.  56.  38.  98.  50.  44.  70.  78.  49.  30. 136.
 132.  65.  86. 129.  68.  36.  45. 124. 184.  75.  82.]
mean 71.91304347826087
median 64.0
mode 48.0
std 28.630556660735003
var 819.7087747035575
------------------------- respiratory rate ----------------------------------------
Уникальные значения [28. 20. 24. 84. 35. nan 16. 36. 12. 52. 48. 21. 60. 34. 42. 30. 96. 72.
 15. 44. 32. 22. 18. 80. 40. 10. 51. 68. 66.  9. 14. 90.  8. 23. 58. 13.
 70. 26. 88. 25. 50.]
mean 30.417355371900825
median 24.5
mode 20.0
std 17.642231385134664
var 311.24832824663054
------------------------- temperature of extremities ----------------------------------------
Уникальные значения [ 3. nan  1.  4.  2.]
mean 2.348360655737705
median 3.0
mode 3.0
std 1.0450536920112758
var 1.0921372191863987
------------------------- pain ----------------------------------------
Уникальные значения [ 5.  3.  2. nan  4.  1.]
mean 2.951020408163265
median 3.0
mode 3.0
std 1.3079395711243502
var 1.710705921712949
------------------------- outcome ----------------------------------------
Уникальные значения [ 2.  3.  1. nan]
mean 1.5518394648829432
median 1.0
mode 1.0
std 0.7371869448054933
var 0.5434445915916574

In [25]:
#Выбросы
При текущем способе расчета выбросов у вас в них попадают все пропуски, что не совсем корректно. Вам стоило найти выбросы по данным без пропусков (например, сделав выборку по условию до расчета выбросов), результаты будут отличаться.

При поиске выбросов расматриваете только два признака, в наших данных есть и другие количественные (линейные показатели), которые можно проанализировать. Для категориальных данных, можно изучить распределение и количество по категориям.

При работе с пропусками мы можем оценивать долю пропусков от общего количества данных,
Так как тут могут быть разные сценарии, например пропусков очень мало и нам может быть проще исключить данные из выборки, или пропусков очень много и тогда эту проблему нужно решать, от выяснения причин и гипотез почему они появились до обоснования чем их заполнить.

In [197]:
#В Age в описании может принимать 1 или 2 . 9 заменим на 1
df3['Age'] = df3.Age.apply(lambda x: 2 if x == 9 else x)
df3

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [198]:
#уберем пропуски для поиска выбросов rectal temperature
df4=df3[df3['rectal temperature'].notna()]['rectal temperature']

In [199]:
q1 = df4.quantile(0.25)
q3 = df4.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
#remove_outliers = df4.between(lower_bound, upper_bound, inclusive=True)
print ('выбросы по rectal temperature')
df4[~df4.between(lower_bound, upper_bound, inclusive=True)]

выбросы по rectal temperature

C:\Users\EA5B~1\AppData\Local\Temp/ipykernel_13836/1338620336.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df4[~df4.between(lower_bound, upper_bound, inclusive=True)]

20     39.9
44     35.4
54     40.3
75     39.7
80     36.4
91     40.3
99     39.6
118    36.5
141    36.0
238    36.1
251    36.6
259    40.8
281    40.0
298    36.5
Name: rectal temperature, dtype: float64

In [200]:
#уберем пропуски для поиска выбросов pulse
df5=df3[df3['pulse'].notna()]['pulse']
q1 = df5.quantile(0.25)
q3 = df5.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
#remove_outliers = df4.between(lower_bound, upper_bound, inclusive=True)
print ('выбросы pulse')
df5[~df5.between(lower_bound, upper_bound, inclusive=True)]

выбросы pulse

C:\Users\EA5B~1\AppData\Local\Temp/ipykernel_13836/1717629229.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df5[~df5.between(lower_bound, upper_bound, inclusive=True)]

3      164.0
41     150.0
55     160.0
255    184.0
275    150.0
Name: pulse, dtype: float64

In [201]:
#уберем пропуски для поиска выбросов respiratory rate
df6=df3[df3['respiratory rate'].notna()]['respiratory rate']
q1 = df6.quantile(0.25)
q3 = df6.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
#remove_outliers = df4.between(lower_bound, upper_bound, inclusive=True)
print ('выбросы respiratory rate')
df6[~df6.between(lower_bound, upper_bound, inclusive=True)]

выбросы respiratory rate

C:\Users\EA5B~1\AppData\Local\Temp/ipykernel_13836/2065138276.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df6[~df6.between(lower_bound, upper_bound, inclusive=True)]

3      84.0
39     96.0
41     72.0
82     80.0
84     80.0
103    68.0
106    96.0
120    66.0
125    68.0
186    90.0
208    80.0
229    70.0
244    88.0
255    84.0
265    68.0
269    90.0
295    70.0
Name: respiratory rate, dtype: float64

In [202]:
#уберем пропуски для поиска выбросов temperature of extremities
df7=df3[df3['temperature of extremities'].notna()]['temperature of extremities']
q1 = df7.quantile(0.25)
q3 = df7.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
#remove_outliers = df4.between(lower_bound, upper_bound, inclusive=True)
print ('выбросы temperature of extremities')
df7[~df7.between(lower_bound, upper_bound, inclusive=True)]

выбросы temperature of extremities

C:\Users\EA5B~1\AppData\Local\Temp/ipykernel_13836/2374563815.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df7[~df7.between(lower_bound, upper_bound, inclusive=True)]

Series([], Name: temperature of extremities, dtype: float64)

In [203]:
#уберем пропуски для поиска выбросов temperature of extremities
df8=df3[df3['pain'].notna()]['pain']
q1 = df8.quantile(0.25)
q3 = df8.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
#remove_outliers = df4.between(lower_bound, upper_bound, inclusive=True)
print ('выбросы pain')
df8[~df8.between(lower_bound, upper_bound, inclusive=True)]

выбросы pain

C:\Users\EA5B~1\AppData\Local\Temp/ipykernel_13836/2557588300.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df8[~df8.between(lower_bound, upper_bound, inclusive=True)]

Series([], Name: pain, dtype: float64)

In [204]:
#уберем пропуски для поиска выбросов temperature of extremities
df9=df3[df3['outcome'].notna()]['outcome']
q1 = df9.quantile(0.25)
q3 = df9.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
#remove_outliers = df4.between(lower_bound, upper_bound, inclusive=True)
print ('outcome')
df9[~df9.between(lower_bound, upper_bound, inclusive=True)]

outcome

C:\Users\EA5B~1\AppData\Local\Temp/ipykernel_13836/3898251404.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df9[~df9.between(lower_bound, upper_bound, inclusive=True)]

Series([], Name: outcome, dtype: float64)

In [51]:
#3
#Рассчитать количество пропусков для всех выбранных столбцов. 
#Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них.
#Сформировать датафрейм, в котором пропуски будут отсутствовать.
#для категориальных признаков подходит мода, для количественных признаков можно рассматривать среднее, медиану или мода.

SyntaxError: invalid syntax (Temp/ipykernel_11952/1202360733.py, line 4)

In [205]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [206]:
#Рассчитать количество пропусков для всех выбранных столбцов. 
df3.isna().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [207]:
df4=df3
df4.isna().mean()

surgery?                      0.003333
Age                           0.000000
rectal temperature            0.200000
pulse                         0.080000
respiratory rate              0.193333
temperature of extremities    0.186667
pain                          0.183333
outcome                       0.003333
dtype: float64

In [208]:
Категориальные признаки выбросы в них модой заменим

SyntaxError: invalid syntax (Temp/ipykernel_13836/2279463277.py, line 1)

In [209]:
df4['surgery?'].fillna(df4['surgery?'].mode()[0], inplace=True)
print(df4['surgery?'].isna().sum())
print(df4['surgery?'].unique())

0
[2. 1.]

In [210]:
df4['outcome'].fillna(df4['outcome'].mode()[0], inplace=True)
print(df4['outcome'].isna().sum())
print(df4['outcome'].unique())

0
[2. 3. 1.]

In [211]:
df4['pain'].fillna(df4['pain'].mode()[0], inplace=True)
print(df4['pain'].isna().sum())
print(df4['pain'].unique())

0
[5. 3. 2. 4. 1.]

rectal temperature

In [212]:
print(df4['rectal temperature'].mean())
print(df4['rectal temperature'].median())
print(df4['rectal temperature'].mode()[0])

print(df4['rectal temperature'].std())
print(df4['rectal temperature'].var())

38.16791666666669
38.2
38.0
0.7322886641121578
0.5362466875871686

In [213]:
# посмотрим насколько исказились статистики, если мы удалим все строки с пропусками
print(df4.dropna()['rectal temperature'].mean())
print(df4.dropna()['rectal temperature'].median())
print(df4.dropna()['rectal temperature'].mode()[0])

print(df4.dropna()['rectal temperature'].std())
print(df4.dropna()['rectal temperature'].var())

38.16705882352942
38.1
38.0
0.7241217059583475
0.5243522450400274

In [214]:
заполним средним пропуски

SyntaxError: invalid syntax (Temp/ipykernel_13836/2472382890.py, line 1)

In [215]:
fill_mean = df4.copy()
fill_mean['rectal temperature'] = fill_mean['rectal temperature'].fillna(df4['rectal temperature'].mean())
print(df4['rectal temperature'].describe())
print('-----------------------------------')
print(fill_mean['rectal temperature'].describe())

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64
-----------------------------------
count    300.000000
mean      38.167917
std        0.654705
min       35.400000
25%       37.900000
50%       38.167917
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

pulse

In [216]:
print(df4['pulse'].mean())
print(df4['pulse'].median())
print(df4['pulse'].mode()[0])

print(df4['pulse'].std())
print(df4['pulse'].var())

print ('посмотрим насколько исказились статистики, если мы удалим все строки с пропусками')

print(df4.dropna()['pulse'].mean())
print(df4.dropna()['pulse'].median())
print(df4.dropna()['pulse'].mode()[0])

print(df4.dropna()['pulse'].std())
print(df4.dropna()['pulse'].var())

71.91304347826087
64.0
48.0
28.630556660735003
819.7087747035575
посмотрим насколько исказились статистики, если мы удалим все строки с пропусками
70.52352941176471
60.0
48.0
29.187458387371016
851.9077271145146

In [217]:
print(df4.groupby(['surgery?', 'Age'])['temperature of extremities'].median())# лучший вариант
print(df4.groupby(['Age','outcome'])['temperature of extremities'].median())
print(df4.groupby(['outcome', 'surgery?'])['temperature of extremities'].median())
print(df4.groupby(['pain', 'Age'])['temperature of extremities'].median())

surgery?  Age
1.0       1      3.0
          2      3.0
2.0       1      2.0
          2      1.0
Name: temperature of extremities, dtype: float64
Age  outcome
1    1.0        2.0
     2.0        3.0
     3.0        3.0
2    1.0        1.0
     2.0        3.0
     3.0        3.0
Name: temperature of extremities, dtype: float64
outcome  surgery?
1.0      1.0         2.5
         2.0         2.0
2.0      1.0         3.0
         2.0         3.0
3.0      1.0         3.0
         2.0         3.0
Name: temperature of extremities, dtype: float64
pain  Age
1.0   1      2.0
      2      1.0
2.0   1      3.0
      2      3.0
3.0   1      2.0
      2      3.0
4.0   1      3.0
      2      2.0
5.0   1      3.0
      2      1.0
Name: temperature of extremities, dtype: float64

In [218]:
print(df4.groupby(['surgery?', 'Age'])['rectal temperature'].median())
print(df4.groupby(['outcome', 'Age'])['rectal temperature'].median())
print(df4.groupby(['outcome', 'surgery?'])['rectal temperature'].median())
print(df4.groupby(['pain', 'Age'])['rectal temperature'].median())
#одинаковая зависимость поставим медиану

surgery?  Age
1.0       1      38.1
          2      38.6
2.0       1      38.2
          2      38.6
Name: rectal temperature, dtype: float64
outcome  Age
1.0      1      38.2
         2      38.4
2.0      1      38.0
         2      38.8
3.0      1      38.0
         2      39.7
Name: rectal temperature, dtype: float64
outcome  surgery?
1.0      1.0         38.20
         2.0         38.25
2.0      1.0         38.10
         2.0         38.00
3.0      1.0         38.00
         2.0         38.20
Name: rectal temperature, dtype: float64
pain  Age
1.0   1      38.20
      2      38.00
2.0   1      38.30
      2      38.80
3.0   1      38.05
      2      38.60
4.0   1      38.00
      2      38.80
5.0   1      38.00
      2      38.30
Name: rectal temperature, dtype: float64

In [219]:
print(df4.groupby(['surgery?', 'Age'])['pulse'].median())
print(df4.groupby(['outcome', 'Age'])['pulse'].median())
print(df4.groupby(['outcome', 'surgery?'])['pulse'].median())
print(df4.groupby(['pain', 'Age'])['pulse'].median()) #лучший вариант

surgery?  Age
1.0       1       66.0
          2      129.0
2.0       1       54.0
          2       91.0
Name: pulse, dtype: float64
outcome  Age
1.0      1       52.0
         2      120.0
2.0      1       82.0
         2      141.0
3.0      1       81.0
         2      100.0
Name: pulse, dtype: float64
outcome  surgery?
1.0      1.0         60.0
         2.0         52.0
2.0      1.0         84.0
         2.0         92.0
3.0      1.0         80.0
         2.0         85.0
Name: pulse, dtype: float64
pain  Age
1.0   1       48.0
      2       92.0
2.0   1       72.0
      2      124.0
3.0   1       58.0
      2      120.0
4.0   1       77.5
      2      128.0
5.0   1       88.0
      2      136.0
Name: pulse, dtype: float64

In [220]:
print(df4.groupby(['surgery?', 'Age'])['respiratory rate'].median())
print(df4.groupby(['outcome', 'Age'])['respiratory rate'].median()) #лучший вариант
print(df4.groupby(['outcome', 'surgery?'])['respiratory rate'].median())
print(df4.groupby(['pain', 'Age'])['respiratory rate'].median())

surgery?  Age
1.0       1      24.0
          2      60.0
2.0       1      24.0
          2      30.0
Name: respiratory rate, dtype: float64
outcome  Age
1.0      1      24.0
         2      64.0
2.0      1      28.0
         2      44.0
3.0      1      24.0
         2       NaN
Name: respiratory rate, dtype: float64
outcome  surgery?
1.0      1.0         28.0
         2.0         24.0
2.0      1.0         30.0
         2.0         30.0
3.0      1.0         32.0
         2.0         20.0
Name: respiratory rate, dtype: float64
pain  Age
1.0   1      20.0
      2      28.0
2.0   1      28.0
      2      72.0
3.0   1      24.0
      2      54.0
4.0   1      27.5
      2      44.0
5.0   1      28.0
      2      49.0
Name: respiratory rate, dtype: float64

In [221]:
fill_median_by_groups = df4
fill_median_by_groups['temperature of extremities'].fillna(df4.groupby(['surgery?', 'Age'])['temperature of extremities'].transform('median'), inplace=True)
fill_median_by_groups['pulse'].fillna(df4.groupby(['pain', 'Age'])['pulse'].transform('median'), inplace=True)
fill_median_by_groups['respiratory rate'].fillna(df4.groupby(['outcome', 'Age'])['respiratory rate'].transform('median'), inplace=True)
fill_median_by_groups['rectal temperature'].fillna(fill_median_by_groups['rectal temperature'].median(), inplace=True)

In [222]:
fill_median_by_groups['rectal temperature'].fillna(fill_median_by_groups['rectal temperature'].median(), inplace=True)

In [223]:
fill_median_by_groups

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,2.0,3.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.2,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,3.0,3.0

In [224]:
fill_median_by_groups.isna().sum()

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              1
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

In [225]:
df1 = fill_median_by_groups[fill_median_by_groups.isna().any(axis=1)]
df1

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0

In [226]:
fill_median_by_groups['respiratory rate'].fillna(fill_median_by_groups['respiratory rate'].median(), inplace=True)

In [227]:
fill_median_by_groups.isna().sum()

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64